@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-bg-primary: #ffffff;
	--color-bg-secondary: #f0f4f8;
	--color-fg-black: #4a5662;
  --color-fg-gray: #7a8fa3;
}
